---
import BottomBanner from "../components/Banner/Banner";
import HeaderMain from "../components/Header/Header";
import HeaderTopBar from "../components/Header/HeaderTopBar";
import ProductList from "../components/ProductLists/ProductList";
import BaseLayout from "../layouts/Layout.astro";
import { fetchFilter } from "../api/filterApi";
import { fetchBreadcrumb } from "../api/breadcrumbApi";

// Lấy toàn bộ slug, ví dụ: "dienthoai/apple"
const categorySlug = Astro.params.category;

// Gọi API trực tiếp, không cần try/catch hay xử lý lỗi
const filter = await fetchFilter(categorySlug);
const breadcrumbData = await fetchBreadcrumb(categorySlug);
const breadcrumb = breadcrumbData?.data?.breadcrumb;


if (filter === null || breadcrumbData === null) {
  return Astro.redirect('/404');
}
---

<BaseLayout>
  <HeaderTopBar />
  <HeaderMain client:idle />
  <div class="max-w-screen-xl mx-auto py-8 px-2 2xl:px-0">
    <nav
      class="mx-auto w-full max-w-screen-xl text-base text-gray-500"
      aria-label="Breadcrumb"
    >
      <ol class="flex items-center space-x-2">
        <li>
          <a href="/" class="text-blue-600 transition font-medium">
            Trang chủ
          </a>
        </li>
        <li class="text-gray-400">/</li>

        {
          breadcrumb?.items?.slice(1).map((item: any) => (
            <>
              <li>
                <a
                  href={`/${item.slug}`}
                  class="text-blue-600 transition font-medium"
                >
                  {item.name}
                </a>
              </li>
              <li class="text-gray-400">/</li>
            </>
          ))
        }

        {
          breadcrumb?.current && (
            <li class="text-gray-800 font-semibold">
              {breadcrumb.current.name}
            </li>
          )
        }
      </ol>
    </nav>

    <ProductList categorySlug={categorySlug} filter={filter} client:idle />
  </div>
</BaseLayout>