---
import { fetchFilter } from "../api/filterApi";
import { fetchBreadcrumb } from "../api/breadcrumbApi";
import { fetchSeriesCategory } from "../api/categoryApi";
import BaseLayout from "../layouts/Layout.astro";
import HeaderMain from "../components/Header/Header";
import ProductList from "../components/ProductLists/ProductList";
import BrandCategory from "../components/ListCategory/SeriesCategory";
import Footer from "../components/Footer/Footer";

const { category } = Astro.params;
const filter = await fetchFilter(category ?? "");
const breadcrumbData = await fetchBreadcrumb(category ?? "");
const breadcrumb = breadcrumbData?.data?.breadcrumb;
if (!breadcrumb?.current) {
  return Astro.redirect("/404");
}
const seriesCategory = await fetchSeriesCategory(category ?? "");
const series = seriesCategory?.data?.children || [];
const title = `MTSMART - Cửa hàng điện thoại, laptop giá rẻ , chính hãng`;

---

<BaseLayout>
  <Fragment slot="head">
  <title>{title}</title>
 </Fragment>

  <HeaderMain client:idle />
  <div class="max-w-screen-xl mx-auto py-8 px-2 2xl:px-0">
    <nav
      class="mx-auto w-full max-w-screen-xl text-sm text-gray-500"
      aria-label="Breadcrumb"
    >
      <ol class="flex items-center space-x-2">
        <li>
          <a href="/" class="text-blue-600 transition font-medium">
            Trang chủ
          </a>
        </li>
        <li class="text-gray-400">/</li>

        {
          breadcrumb?.items?.slice(1).map((item: any) => (
            <>
              <li>
                <a
                  href={`/${item.slug}`}
                  class="text-blue-600 transition font-medium"
                >
                  {item.name}
                </a>
              </li>
              <li class="text-gray-400">/</li>
            </>
          ))
        }

        {
          breadcrumb?.current && (
            <li class="text-gray-800 font-medium">
              {breadcrumb.current.name}
            </li>
          )
        }
      </ol>
    </nav>
    
    {
      breadcrumb?.current && (
        <h1 class="text-base lg:text-xl font-bold text-gray-900 pt-4">
          {breadcrumb.current.name}
        </h1>
      )
    }
    <BrandCategory brands={series} />
    <ProductList categorySlug={category} filter={filter} client:idle />
  </div>
  <Footer /> 

</BaseLayout>