---
export const prerender = false;

import HeaderMain from "../components/Header/Header";
import ProductList from "../components/ProductLists/ProductList";
import BaseLayout from "../layouts/Layout.astro";
import BrandCategory from "../components/ListCategory/BrandCategoryGrid";
import FeatureCategory from "../components/ListCategory/FeatureCategoryGrid";
import { fetchFilter } from "../api/filterApi";
import { fetchBreadcrumb } from "../api/breadcrumbApi";
import { fetchBrandCategory } from "../api/categoryApi";
import { fetchFeatureCategory } from "../api/categoryApi";
import Footer from "../components/Footer/Footer";
const { category } = Astro.params;
const categorySlug = `${category}`;

const breadcrumbData = await fetchBreadcrumb(categorySlug ?? "");

if (
  !breadcrumbData ||
  !breadcrumbData.data ||
  !breadcrumbData.data.breadcrumb
) {
  return Astro.redirect("/404");
}

const breadcrumb = breadcrumbData?.data?.breadcrumb;
const filter = await fetchFilter(category ?? "");
const brandCategory = await fetchBrandCategory(categorySlug ?? "");
const featureCategory = await fetchFeatureCategory(categorySlug ?? "");
const features = featureCategory?.data?.children || [];
const brands = brandCategory?.data?.children || [];
const title = `MTSMART - ${breadcrumb?.current?.name || "Cửa hàng điện thoại, laptop"}`;
---

<BaseLayout>
  <Fragment slot="head">
    <title>{title}</title>
  </Fragment>
  <HeaderMain client:idle />

  <div class="max-w-screen-xl mx-auto py-8 px-2 2xl:px-0">
    <nav
      class="mx-auto w-full max-w-screen-xl text-sm text-gray-500"
      aria-label="Breadcrumb">
      <ol class="flex items-center space-x-2">
        <li>
          <a href="/" class="text-blue-600 transition font-medium">
            Trang chủ
          </a>
        </li>
        <li class="text-gray-400">/</li>

        {
          breadcrumb?.items?.slice(1).map((item: any) => (
            <>
              <li>
                <a
                  href={`/${item.slug}`}
                  class="text-blue-600 transition font-medium">
                  {item.name}
                </a>
              </li>
              <li class="text-gray-400">/</li>
            </>
          ))
        }

        {
          breadcrumb?.current && (
            <li class="text-gray-800 font-semibold">
              {breadcrumb.current.name}
            </li>
          )
        }
      </ol>
    </nav>

    <BrandCategory brands={brands} />
    <FeatureCategory feature={features} />
    <ProductList categorySlug={categorySlug} filter={filter} client:idle />
  </div>

  <Footer />
</BaseLayout>
